.nav-tab.css.card {
	background-color: #F7F7F7;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 0px;
	margin-top: 50px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.nav-card .nav-tabs {
	display: inline-flex;
	width: 100%;
	overflow-x: auto;
	border-bottom: 2px solid #DDD;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	border-top: 2px solid #DDD;
	border-bottom: 0px;
}
.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
}

.nav>li {
	position: relative;
	display: block;
}

.nav-card .nav-tabs>li.active>a,
.nav-card .nav-tabs>li>a:hover {
	border: none;
	color: #F78902 !important;
	background: #FFF;
}

.nav-card .nav-tabs {
	display: inline-flex;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	border-bottom: 0px;
	margin-bottom: 0px;
	border: none !important;
	/* box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3); */
}

.nav-card .nav-tabs>li {
	margin-top: -1px;
}

.nav-card .nav-tabs>li.active>a,
.nav-card .nav-tabs>li.active>a:focus,
.nav-card .nav-tabs>li.active>a:hover {
	border-width: 0;
	background-color: #fff;
    border-bottom: 4px solid #F78902;
}
.nav-card .nav-tabs>li>a {
	border: none;
	color: #F78902;
	text-decoration: none;
	border-bottom: 4px solid #DDD;
	margin: 0px 8px 0px 0px;
	padding: 15px 15px;
	text-align: center;
	width: 100%;
	display: block;
}
.nav-card .nav-tabs>li.active>a,
.nav-card .nav-tabs>li>a:hover {
	color: #F78902 !important;
	background: #FFF;
    border-bottom: 4px solid #F78902;
}

/* .nav-card .nav-tabs>li>a::before {
	content: "";
	background: #F78902;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
} */

/* .nav-card .nav-tabs>li.active>a::before,
.nav-card .nav-tabs>li:hover>a::before {
	transform: scale(1);
}

.nav-card .tab-nav>li>a::before {
	background: #21527d none repeat scroll 0% 0%;
	color: #fff;
} */

.nav-card .nav-tabs>li {
	flex-grow: 1;
	flex-basis: 0;
}

.nav-card .tab-pane {
	padding: 15px 0;
}

.nav-card .tab-content {
	padding: 20px;
	margin-top: -3px;
}

.nav-card .nav-tabs::-webkit-scrollbar {
	display: none;
}

/* .nav-card .tab-content {
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.3);
	margin-bottom: 30px;
} */
#order_view_table th {
	color: #000 !important;
	background: #e7eaea;
}
#order_view_table th:first-child {
	border-radius: 4px 0 0 4px;
}

#order_view_table th:last-child {
	border-radius: 0px 4px 4px 0px;
}

.nav-dashboard .nav-link {
	border: 0 !important
}

.dashboard .tab-pane p {
	margin-bottom: 0px !important
}
.table-tooltip {
	background-color: #fd7e14;
	color: #fff;
	font-size: 11px;
	font-weight: 600;
	padding: 4px 10px;
}

.tt-menu {
	width: 100%;
	top: 80% !important;
	max-height: 260px;
	overflow-y: auto;
}
.account-order-total-table {
	/* background-color: #ECF0F5; */
	page-break-inside: avoid;
	border-radius: 4px;
	overflow: hidden;
	margin-top: 30px;
	padding: 20px;
}

.account-order-table-item-qty p {
	line-height: 15px;
}
.shorting-data {
	padding-left: 13px;
	padding-right: 30px;
	height: 40px;
	border: 0;
	box-shadow: 0 0 2px 0 rgb(0 66 80 / 20%), 0 2px 5px 0 rgb(0 66 80 / 10%);
}

.table-tooltip-success {
	background-color: #00a65a;
	color: #fff;
	font-size: 11px;
	font-weight: 600;
	padding: 4px 10px;
}

.dashboard-title {
	font-size: 36px;
	/* font-weight: 900; */
    font-weight: 500;
}
.card-box {
	padding: 20px;
}
.nav-dashboard {
	padding: 10px 18px;
}
.table th,
.table thead th,
.table td {
	white-space: nowrap;
}
.table-tooltip-danger {
	background-color: #dd4b39;
	color: #fff;
	font-size: 11px;
	font-weight: 600;
	padding: 4px 10px;
	white-space: nowrap;
	vertical-align: baseline;
}

.table-tooltip-success {
	background-color: #00a65a;
	color: #fff;
	font-size: 11px;
	font-weight: 600;
	padding: 4px 10px;
	white-space: nowrap;
	vertical-align: baseline;
}

.small-text {
	font-size: 15px;
	padding-left: 10px;
	text-decoration: underline
}

.table th,
.table thead th,
.table td {
	white-space: nowrap;
}

.table-head {
	width: 100%;
	background-color: #F78902;
}
.small-text {
	font-size: 15px;
	padding-left: 10px;
}

.table th,
.table thead th,
.table td {
	white-space: nowrap;
}

.sorting,
.sorting_asc,
.sorting_desc {
	background: none;
}

.sorting_asc {
	display: block !important;
}

.btn-xs {
	padding: .15rem .2rem !important;
	font-size: .875rem !important;
	line-height: 1.5 !important;
	border-radius: 0rem !important;
	margin-bottom: 5px !important;
	min-height: 25px !important;
	min-width: 25px !important;
}

.font-size11 {
	font-size: 11px;
}

.dataTables_length select {
	width: 90px;
	margin-bottom: 3px !important;
}

.dataTables_filter input {
	width: 250px;
	display: inline;
}

.page-item:hover a,
.page-item:focus a {
	box-shadow: none !important;
	color: #fff !important;
	border-color: transparent !important;
	text-decoration: none !important;
	background-color: transparent !important;
	outline: none !important;
}
.page-item {
    padding: 0px !important;
}
.paginate_button:hover {
	color: white !important;
	border: 1px solid #F78902 !important;
	background: #F78902 !important;
}

.dataTables_paginate ul {
	display: block;
}

.font-size20 {
	font-size: 20px;
}

.page-link {
	padding: 10px 10px !important;
}

.box-shadow {
	box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
}

.dashboard-cart {
	padding: 20px;
}

.nav-dashboard .nav-link {
	border: 0!important
}
.dashboard .tab-pane p {
	margin-bottom: 0px!important
}
.table th,
.table thead th,
.table td {
	white-space: nowrap;
}
.dashboard-orders-table-content {
	border-bottom: 1px solid #d2dddf;
}


.table th,
.table thead th,
.table td {
	white-space: nowrap;
}

.table-head th {
	color: #fff !important;
}

.table th,
.table td {
	/* padding: 10px 15px !important; */
	border-bottom: 1px solid #d2dddf;
}

.dashboard-cart-note h4 {
	padding: 8px 14px;
	font-size: 18px
}

.cart {
	/* background-color: #ECF0F5; */
	border-radius: 4px;
	/* padding: 26px 10px 30px; */
	margin-bottom: 20px;
}
.scart {
	min-height: 290px;
}
.cart h4 {
	font-size: 18px;
	padding: 5px 15px;
}

table.dataTable thead th{
    padding: 10px 18px;
    border-bottom: none;
}

table.dataTable thead td {
    padding: 5px 10px!important;
    border-bottom: none;
}
@media screen and (max-width: 480px) {
    .table th, .table td {
        padding: 5px 5px !important;
    }
    .dashboard-title {
        font-size: 19px;
        font-weight: 500;
        margin-top: 15px;
    }
    .dashboard-cart{
        padding: 0px;

    }
    .cart h4 {
        font-size: 18px;
        padding: 0px;
    }
    .dataTables_filter input {
        width: 200px;
    }
    .cart {
        margin-bottom: 0px;
    }
    .table {
        margin-bottom: .5rem;
    }
    .card-box {
        padding: 10px!important;
    }
    .heading-title {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .dashboard-cart-note h4 {
        padding: 8px 10px;
        font-size: 13px;
    }


        .shorting-data {
            padding-left: 13px;
            padding-right: 5px;
            height: 30px;
        }
}

